{% extends "auctions/layout.html" %} 

{% block body %}
    {% for listing in listings %}
        <div>
            <h1 class="heading">
                {% block heading %}{% endblock %}
            </h1>
            <div class="row">
                <img src="" alt="">
                <div>
                    <h4>{{listing.title}}</h4>
                    <p>{{listing.details}}</p>
                    <a href="{{ url 'toggle' listing.id }}" class="btn btn-primary">{% block btnName %}{% endblock %}</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}